body {
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5;
    background-color: lightblue;
    background-image: url("/resources/img/ww2.png");
    background-repeat: no-repeat;
    background-position: right top;
    margin-right: 200px;
    background-attachment: fixed;
}
bg {
  background-image: url("/resources/img/ww2.png");
}
h2 {
	float: left;
	margin: 0;
	padding: 0;
	font-weight: bold;
	text-transform: uppercase;
	height: 41px;
	line-height: 41px;
}


l2 {
	float: left;
	margin: 0;
	padding: 0;
	font-weight: bold;
	text-transform: uppercase;
	height: 41px;
	line-height: 41px;
}